{
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "endOfLine": "auto",
    "objectWrap": "collapse",
    "overrides": [
        { "files": "*.jsonc", "options": { "parser": "json", "printWidth": 80 } },
        { "files": "*.json", "options": { "printWidth": 80 } }
    ],
    "printWidth": 140
}
